@*@model List<Department>
@{
    ViewData["Title"] = "ShowDepts";
    SelectList depts = new SelectList(Model, "DeptId", "DeptName");
}

<h1>ShowDepts</h1>




<div class="form-group my-2">
    <label asp-for="DeptId">Department</label>
    <select asp-for="DeptId" asp-items="ViewBag.DepartmentList" class="form-control" onchange="GetCoursesByDepartment()">
        <option value="0">--Select Department--</option>
    </select>
</div>
<div class="form-group my-2">
    <label asp-for="CrsId">Course</label>
    <select asp-for="CrsId" asp-items="ViewBag.CourseList" class="form-control">
        <option value="0">--Select Course--</option>
    </select>
</div>




@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        function GetCoursesByDepartment() {
            var deptId = document.getElementById("DeptId").value;
            console.log(deptId);

            $.ajax({
                url: "/Department/GetCoursesByDepartment?deptId=" + deptId,
                success: function (result) {
                    console.log(result);
                    document.getElementById("CrsId").innerHTML = "<option value='0'>--Select Course--</option>";
                    for (let i of result) {
                        document.getElementById("CrsId").innerHTML +=
                            "<option value='" + i.crsid + "'>" + i.crsname + "</option>";
                    }
                }
            });
        }
    </script>
}*@