<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div style="background-color:pink; height:20%;">
        <h1>Header (common)</h1>
    </div>

    <div style="background-color:yellowgreen;">
        @RenderBody()
    </div>
    
    <div style="background-color:pink; height:10%;">
        <h1>Footer (common)</h1>

    </div>

</body>
</html>
