<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>LearnSpot</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item nav-link">Home</a>
            <a asp-area="" asp-controller="About" asp-action="Index" class="nav-item nav-link">About</a>
            <a asp-area="" asp-controller="Department" asp-action="Index" class="nav-item nav-link">Departments</a>
            <a asp-area="" asp-controller="Course" asp-action="Index" class="nav-item nav-link">Courses</a>
            <a asp-area="" asp-controller="Instructor" asp-action="Index" class="nav-item nav-link">Instructors</a>
            <a asp-area="" asp-controller="Contact" asp-action="Index" class="nav-item nav-link">Contact</a>
        </div>
        <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>