@model List<TaskDay2.ViewModels.TraineeCourseResultViewModel>

<div class="container">
    <div class="row">

        <h1 class="my-4">Course Result</h1>

        <table class="table table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Trainee Name</th>
                    <th>Course Degree</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model)
                {
                    <tr style="color:@(result.Color);">
                        <td>@result.CourseName</td>
                        <td>@result.TraineeName</td>
                        <td>@result.CourseDegree</td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-outline-secondary col-2 my-2" asp-controller="Course" asp-action="Index">Show all Courses</a>

    </div>
</div>
